<p id="notice"><%= notice %></p>

<h1>Gallery</h1>

<div class="gallery">
    <% @artworks.each do |artwork| %>
      <div class="index-card">
        <div class="index-image">
            <%= image_tag artwork.picture %>
          </div>
        <p class="artwork-title"><%= artwork.title %></p>
        <p><%=  artwork.year %></p>
        <%= link_to  'Details', artwork_path(artwork.id)  %>
      <% if current_user.admin %>
      <ul>
        <li><%= link_to 'Show', artwork %></li>
        <li><%= link_to 'Edit', edit_artwork_path(artwork) %></li>
        <li><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
      <% end %>
    </div>
      
    <% end %>
</div>

<br>

<% if current_user.admin %>
<%= link_to 'New Artwork', new_artwork_path %>
<% end %>
