<p id="notice"><%= notice %></p>
        <div class="artwork-card">
          <div class="show-image">
            <%= image_tag @artwork.picture %>
          </div>
          
          <div class="artwork-info">
            <p>
              <strong>Title:</strong>
              <%= @artwork.title %>
            </p>

            <p>
              <strong>Year:</strong>
              <%= @artwork.year %>
            </p>

            <p>
              <strong>Medium:</strong>
              <%= @artwork.medium %>
            </p>

            <p>
              <strong>Size:</strong>
              <%= @artwork.size %>
            </p>

            <p>
              <strong>Price:</strong>
              <%= @artwork.price %>
            </p>
          <div>
        <% if current_user.admin %>
          <%= link_to 'Edit', edit_artwork_path(@artwork) %> |
        <% end %>
<%= link_to 'Back', artworks_path %>
 </div>